[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pytorch"
url = "https://download.pytorch.org/whl/cpu/torch_stable.html"
verify_ssl = false

[dev-packages]

[packages]
uvicorn = "*"
fastapi = "*"
google-cloud-speech = "*"
ffmpeg-python = "*"
python-multipart = "*"
torch = { version = "*", index = "pytorch" }
transformers = "*"
tokenizers = "*"
sentencepiece = "*"
google-cloud-storage = "*"

[requires]
python_version = "3.8"
